<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="style.css">
  <meta charset="utf-8"> 
  <title>Calibration</title>
</head>
<body>
  <script src="components/jquery/dist/jquery.js"></script>
  <script src="components/flot/jquery.flot.js"></script>
  <script src="components/underscore/underscore.js"></script>
  <script src="components/handlebars/handlebars.js"></script>
  <script src="components/ember/ember.js"></script>
  <script src="components/ember-data/ember-data.js"></script>
  <script src="components/emblem/dist/emblem.js"></script>
  <script src="components/simple-statistics/src/simple_statistics.js"></script>
  <script src="components/jquery-knob/dist/jquery.knob.min.js"></script>
  
  <script src="components/bootstrap/dist/js/bootstrap.min.js"></script>

  <script type="text/x-handlebars">
    
  <div class="container">
    <h1>Sensor calibration utility</h1>
  
    <h2>Reference resistances</h2>
    
    <div class="row">
      <div class="col-md-2 knots">
        
        {{#each point in model.ref_points}}
        
        <form class="form-inline" role="form">
          {{flot-knot class="form-control knot" value=point.r min="1" max="117" step="0.1"}}
        </form>
          
        {{/each}}
      
      </div>
    
      <div class="col-md-5">

    
      {{#each point in model.ref_points}}
      
      <form class="form-inline" role="form">
      
        <div class="input-group form-ohms">
          {{flot-param class="form-control" type="text" value=point.r}}
          <span class="input-group-addon">Ω</span>
        </div>
        
        <div class="input-group form-celsius">
          {{flot-param class="form-control" type="text" value=point.deg disabled="disabled"}}
          <span class="input-group-addon">℃</span>
        </div>
        
      </form>
      
      {{/each}}
      
      </div>
    </div>
  
    <h2>Selected sensor</h2>
  
    {{outlet}}
    
  </div>
  
  <div class="footer container">
    
    <div class="row">
      
      {{#each item in model.sensors}}
        <div class="col-xs-6 col-md-3">
          {{#link-to 'sensors.sensor' item.id class="thumbnail"}}
            ({{item.id}}) {{item.desc}}<br/>
            {{#if item.down}}
              <span class="down">Sensor down</span><br/>
            {{else}}
              {{item.average}}℃ (±{{item.stdev}})<br/>
              <span class="adc">{{item.raw_average}} (±{{item.raw_accuracy}}%)</span>
            {{/if}}
          {{/link-to}}
        </div>
      {{/each}}
      
    </div>
    
  </div>
  </script>

  <script type="text/x-handlebars" id="components/flot-knot">
  </script>
  
  <script type="text/x-handlebars" id="components/pt-plot">

  <div id="plot" style="width: 100%; height: 260px"></div>
  
  </script>
  
  <script type="text/x-handlebars" id="sensors/sensor">
  
  <p>({{model.sensor.id}}) {{model.sensor.desc}}</p>
  
  <div class="row">

    <div class="col-md-6">
      
      {{pt-plot sensor_no=model.sensor.id points=model.sensor.points sensor=model.sensor.id ref_points=model.ref_points}}
      
      <div class="buttons" id="under-plot">
        <button id="save" class="btn btn-default" type="button" {{action 'save'}}>Save to µC</button>
      </div>
      
      <div id="equation" class="text-center"></div>
    </div>
   
    <div class="col-md-2">

      {{#each point in model.ref_points}}
      
      <form class="form-inline" role="form">
        
        <div class="input-group">
          {{flot-param class="form-control" type="text" value=point.deg disabled="disabled"}}
          <span class="input-group-addon">℃</span>
        </div>
        
      </form>
        
      {{/each}}
      
    </div>
    
    <div class="col-md-2 knots">
      
      {{#each point in model.sensor.points}}
      
      <form class="form-inline" role="form">
        {{flot-knot class="form-control knot" value=point.adc}}
      </form>
        
      {{/each}}
    
    </div>
    
    <div class="col-md-2">
      
      {{#each point in model.sensor.points}}
      
      <form class="form-inline" role="form">
        <div class="input-group">
          {{input class="form-control" value=point.adc}}
        
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">current</button>
          </span>
        </div>
      </form>
        
      {{/each}}
    
    </div>
  
  </div>
  
  </script>
  
  <script src="client.js"></script>
  
</body>
</html>
