.footer {
  padding-top: 40px;
  padding-bottom: 20px;
  margin-top: 20px;
  color: #777;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}

.form-inline .form-celsius, .form-inline .form-ohms, .form-inline .form-adc {
  margin-right: 8px;
  margin-bottom: 8px;
}

.form-inline .form-celsius, .form-inline .form-ohms {
  width: 30%;
}

.form-inline .form-adc {
  width: 98%;
}

.form-inline .input-group input, .form-inline .form-adc {
  text-align: right;
}

h1 {
  margin-top: 40px;
}

h2 {
  margin-bottom: 1.6rem;
}

#equation {
  margin-top: 10px;
}

.down {
  color: red;
}

.adc {
  opacity: 0.3;
}

.buttons#under-plot {
  float: right;
  margin-top: 0.8rem;
  margin-right: 1.4rem;
}

.col-md-2 .form-inline {
  margin-bottom: 1rem
}

.col-md-2 {
  position: relative;
  top: 1rem;
}

.col-md-2:nth-child(1) {
  width: auto;
  padding-right: 0;
  top: 0rem;
}

.col-md-2:nth-child(1) .form-inline {
  margin-bottom: 0.85rem;
}

.col-md-2:nth-child(3) {
  width: auto;
  padding-right: 0;
}

.col-md-2:nth-child(2) .form-inline {
  width: 86%;
}

.col-md-2:nth-child(3) input {
  width: 70%;
  text-align: right;
}

.knot {
  margin-top: 2rem
}

